<% layout("/layouts/boilerplate") -%>
<body>
  <h1>Listing Details</h1>
  <ul>
    <li>Title:<%=listing.title%></li>
    <li>
      <img src="<%=listing.image.url%>" alt="" height="200px" width="200px" />
    </li>
    <li>Description:<%=listing.description%></li>
    <li>Price:&#8377;<%=listing.price.toLocaleString("en-IN")%></li>
    <li>Location:<%=listing.location%></li>
    <li>Country<%=listing.country%></li>
  </ul>
  <a href="/listings/<%=listing._id%>/edit">Edit This Listing</a>
  <form action="/listing/<%=listing.id%>?_method=DELETE" method="POST">
    <button>Delete This listing</button>
  </form>
</body>
